@import url("https://fonts.googleapis.com/css2?family=Phudu:wght@300..900&family=Tilt+Prism&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

$red: rgb(235, 22, 78);
$blue: rgb(3, 166, 188);
$almost-black: rgb(47, 47, 56);
$almost-white: rgb(176, 176, 170);
$phudu: "Phudu", sans-serif;
$prism: "Tilt Prism", sans-serif;
$plex: "IBM Plex Mono", monospace;
$border: 6px;
$gray: rgba(255, 255, 255, 0.3);
$shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$strong-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
  rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
  rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  background-image: url("/assets/black-white.jpg");
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $phudu;

  .container {
    width: 95vw;
    height: 95vh;
    position: relative;
    padding: 40px;

    .info-div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      text-align: center;

      .left {
        padding: 10px;
        border-radius: 5px;
        h1 {
          font-size: 80px;
          font-weight: 200;
          letter-spacing: 2px;
          color: $almost-black;
        }
        p.desc {
          font-size: 20px;
          letter-spacing: 6px;
        }
      }

      .right {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
        margin-right: 53px;

        a {
          all: unset;
          width: 60px;
          height: 60px;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          transition: 0.4s;
          position: relative;
          filter: blur(2px);

          &:hover {
            transition: filter 0.4s;
            cursor: pointer;
            filter: blur(0);

            p {
              opacity: 1;
            }
          }

          &.CV {
            background-image: url("/icons/file.svg");
          }
          &.github {
            background-image: url("/icons/github.svg");
          }

          p {
            opacity: 0;
            position: absolute;
            bottom: -30px;
            left: -30px;
            width: 120px;
            height: 20px;
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(1px);
          }
        }
      }
    }
    .dropdowns {
      display: flex;
      align-items: top;
      justify-content: space-between;

      .website {
        position: relative;
        button {
          all: unset;
          padding: 10px;
          font-size: 40px;
          letter-spacing: 1px;
          transition: 0.5s;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 20px;
          filter: blur(2px);
          color: $almost-black;

          img {
            height: 15px;
            transition: 0.2s;
          }

          &:hover {
            cursor: pointer;
            filter: blur(0);
            transition: 0.5s;
          }

          &.show {
            img {
              transform: rotate(-180deg);
              transition: 0.6s;
            }
          }
        }

        .websites {
          position: absolute;
          margin-top: 50px;
          height: 0;
          width: 80vw;
          display: flex;
          justify-content: space-between;
          gap: 5px;
          transition: height 0.2s ease-out;

          article {
            width: 45%;
            height: 100%;
            background-color: white;
            position: relative;
            background-position: top;
            background-size: cover;
            overflow: hidden;
            filter: grayscale(0.3) blur(0.5px);
            box-shadow: $strong-shadow;
            border-radius: 5px;

            &:hover {
              animation: remove-overflow 2s forwards;
              filter: grayscale(0.8) blur(0);
              transition: filter 0.5s;
              .card-data {
                animation: show-data 1s forwards;
                opacity: 1;
                transition: opacity 0.3s;
              }
            }

            &:not(:hover) {
              animation: show-overflow 2s forwards;

              .card-data {
                animation: remove-data 1s forwards;
              }
            }

            &#decorvision {
              background-image: url("/work/decorvision.jpg");
            }

            &#game {
              background-image: url("/work/game.jpg");
            }

            .card-data {
              position: absolute;
              padding: 20px;
              background-color: rgba(255, 255, 255, 1);
              border-radius: 10px;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              width: 90%;
              box-shadow: $shadow;
              bottom: -9rem;
              left: 0;
              right: 0;
              margin-inline: auto;
              opacity: 0;
              transition: opacity 1s 1s;

              h2 {
                font-size: 40px;
                font-weight: 200;
                letter-spacing: 2px;
                margin-bottom: 10px;
              }

              p {
                font-family: "IBM Plex Mono", monospace;
                text-align: center;
                line-height: 26px;
              }

              .article-links {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 30px;
                margin-top: 20px;

                .link {
                  height: 30px;
                  width: 30px;
                  transition: 0.5s;

                  &:hover {
                    transform: rotate(360deg);
                    transition: 0.5s;
                  }

                  &.article-website {
                    background-image: url("/icons/link.svg");
                  }

                  &.article-github {
                    background-image: url("/icons/github.svg");
                  }
                }
              }
            }
          }

          &.show {
            height: 600px;
            transition: height 0.6s;
          }
        }
      }

      .challenge {
        position: relative;
        button {
          all: unset;
          padding: 10px;
          font-size: 40px;
          letter-spacing: 1px;
          transition: 0.5s;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 20px;
          color: $almost-black;
          filter: blur(2px);

          img {
            height: 15px;
            transition: 0.2s;
          }

          &:hover {
            transition: 0.5s;
            cursor: pointer;
            filter: blur(0);
          }

          &.show {
            img {
              transform: rotate(180deg);
              transition: 0.6s;
            }
          }
        }

        .challenges {
          position: absolute;
          right: 0;
          margin-top: 50px;
          height: 0;
          width: 80vw;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          justify-content: space-between;
          gap: 10px;
          transition: height 0.2s ease-out;

          article {
            width: 100%;
            height: 88%;
            background-color: white;
            position: relative;
            background-position: top;
            background-size: cover;
            overflow: hidden;
            filter: grayscale(0.3) blur(0.5px);
            box-shadow: $shadow;
            border-radius: 5px;

            &:hover {
              animation: remove-overflow 2s forwards;
              filter: grayscale(0.8) blur(0);
              transition: filter 0.5s;
              .card-data {
                animation: show-data 1s forwards;
                opacity: 1;
                transition: opacity 0.3s;
              }
            }

            &:not(:hover) {
              animation: show-overflow 2s forwards;

              .card-data {
                animation: remove-data 1s forwards;
              }
            }

            &#multiform {
              background-image: url("/work/form.jpg");
            }

            &#countries {
              background-image: url("/work/countries.jpg");
            }

            &#ecomerce {
              background-image: url("/work/ecommerce.jpg");
            }

            &#spending {
              background-image: url("/work/spending.jpg");
            }

            &#pricing {
              background-image: url("/work/pricing.jpg");
            }

            &#tip {
              background-image: url("/work/calculator.jpg");
            }

            &#snap {
              background-image: url("/work/snap.jpg");
            }

            &#advice {
              background-image: url("/work/advice.jpg");
            }

            &#rating {
              background-image: url("/work/rating.jpg");
            }

            &#newsletter {
              background-image: url("/work/newsletter.jpg");
            }

            .card-data {
              position: absolute;
              padding: 20px;
              background-color: rgba(255, 255, 255, 1);
              border-radius: 10px;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              width: 90%;
              box-shadow: $shadow;
              bottom: -9rem;
              left: 0;
              right: 0;
              margin-inline: auto;
              opacity: 0;
              transition: opacity 1s 1s;

              h2 {
                font-size: 22px;
                font-weight: 200;
                letter-spacing: 2px;
                margin-bottom: 10px;
              }

              p {
                text-align: center;
                font-size: 12px;
                line-height: 20px;
                font-family: "IBM Plex Mono", monospace;
              }

              .article-links {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 30px;
                margin-top: 20px;

                .link {
                  height: 20px;
                  width: 20px;
                  transition: 0.5s;

                  &:hover {
                    transform: rotate(360deg);
                    transition: 0.5s;
                  }

                  &.article-website {
                    background-image: url("/icons/link.svg");
                  }

                  &.article-github {
                    background-image: url("/icons/github.svg");
                  }
                }
              }
            }
          }

          &.show {
            height: 650px;
            transition: height 0.6s;
          }
        }
      }
    }
    ///borders:
    .top-border {
      position: absolute;
      top: 0;
      left: 0;
      height: $border;
      width: 80%;
      background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0));
    }

    .left-border {
      position: absolute;
      top: 0;
      left: 0;
      width: $border;
      height: 80%;
      background-image: linear-gradient(black, rgba(0, 0, 0, 0));
    }

    .right-border {
      position: absolute;
      bottom: 0;
      right: 0;
      width: $border;
      height: 50%;
      transform: rotate(180deg);
      background-image: linear-gradient($almost-white, rgba(0, 0, 0, 0));
    }

    .bottom-border {
      position: absolute;
      bottom: 0;
      right: 0;
      height: $border;
      width: 50%;
      transform: rotate(180deg);
      background-image: linear-gradient(
        to right,
        $almost-white,
        rgba(0, 0, 0, 0)
      );
    }

    ///contacts:
    .contact {
      position: absolute;
      font-family: $plex;
      font-size: 10px;
      text-align: end;
      background-color: rgb(47, 47, 56, 0.5);
      color: $almost-white;
      right: 25px;
      bottom: 25px;
      padding: 10px;
      transition: 0.1s;
      filter: blur(1px);

      &:hover {
        font-size: 20px;
        padding: 40px;
        line-height: 30px;
        transition: 0.3s;
        border-radius: 100px 100px 0 100px;
        filter: blur(0);
      }
    }

    ///theme:
    .theme {
      all: unset;
      position: absolute;
      left: 0;
      bottom: 30px;
      transform: rotate(270deg);
      letter-spacing: 3px;
      font-size: 20px;
      transition: 0.2s;
      color: $almost-white;

      &:hover {
        scale: 1.1;
        transform: rotate(0);
        transition: 0.2s;
        cursor: pointer;
      }
    }
  }
}

main.dark {
  background-image: url("/assets/background-dark.jpg");

  .container {
    .info-div {
      .left {
        background-color: rgba(0, 0, 0, 0.4);
        h1 {
          color: $almost-white;
        }
        p.desc {
          color: $almost-white;
        }
      }

      .right {
        a {
          filter: blur(1px) invert(0.8);

          &:hover {
            filter: blur(0) invert(0.8);

            p {
              opacity: 1;
            }
          }
        }
      }
    }
    .dropdowns {
      .website {
        button {
          color: $almost-white;
          img {
            filter: invert(0.8);
          }
          &:hover {
            background-color: rgba(0, 0, 0, 0.4);
          }
        }

        .websites {
          article {
            filter: grayscale(0.9) blur(0.5px) brightness(0.7);

            &:hover {
              animation: remove-overflow 2s forwards;
              filter: grayscale(0) blur(0) brightness(0.7);
              transition: filter 0.5s;
              .card-data {
                animation: show-data 1s forwards;
                opacity: 1;
                transition: opacity 0.3s;
              }
            }

            &:not(:hover) {
              animation: show-overflow 2s forwards;

              .card-data {
                animation: remove-data 1s forwards;
              }
            }

            .card-data {
              background-color: rgb(47, 47, 56, 0.96);

              h2 {
                color: $almost-white;
              }

              p {
                color: $almost-white;
              }

              .article-links {
                .link {
                  filter: invert(0.8);
                }
              }
            }
          }
        }
      }

      .challenge {
        button {
          color: $almost-white;
          img {
            filter: invert(0.8);
          }
          &:hover {
            background-color: rgba(0, 0, 0, 0.4);
          }
        }

        .challenges {
          article {
            filter: grayscale(0.9) blur(0.5px) brightness(0.7);

            &:hover {
              animation: remove-overflow 2s forwards;
              filter: grayscale(0) blur(0) brightness(0.7);
              transition: filter 0.5s;
              .card-data {
                animation: show-data 1s forwards;
                opacity: 1;
                transition: opacity 0.3s;
              }
            }

            &:not(:hover) {
              animation: show-overflow 2s forwards;

              .card-data {
                animation: remove-data 1s forwards;
              }
            }

            .card-data {
              background-color: rgb(47, 47, 56, 0.96);

              h2 {
                color: $almost-white;
              }

              p {
                color: $almost-white;
              }

              .article-links {
                .link {
                  filter: invert(0.8);
                }
              }
            }
          }
        }
      }
    }
    ///borders:
    .top-border {
      position: absolute;
      top: 0;
      left: 0;
      height: $border;
      width: 80%;
      background-image: linear-gradient(
        to right,
        $almost-white,
        rgba(0, 0, 0, 0)
      );
    }

    .left-border {
      position: absolute;
      top: 0;
      left: 0;
      width: $border;
      height: 80%;
      background-image: linear-gradient($almost-white, rgba(0, 0, 0, 0));
    }

    .right-border {
      position: absolute;
      bottom: 0;
      right: 0;
      width: $border;
      height: 50%;
      transform: rotate(180deg);
      background-image: linear-gradient($almost-white, rgba(0, 0, 0, 0));
    }

    .bottom-border {
      position: absolute;
      bottom: 0;
      right: 0;
      height: $border;
      width: 50%;
      transform: rotate(180deg);
      background-image: linear-gradient(
        to right,
        $almost-white,
        rgba(0, 0, 0, 0)
      );
    }

    ///contacts:
    .contact {
      background-color: rgba(0, 0, 0, 0.4);
      color: $almost-white;
    }

    ///theme:
    .theme {
      color: $almost-white;
    }
  }
}
/* Card animation */
@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(0.5rem);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}
